*{
margin:0;
padding:0;
}

#llk_wrap{
background-image:url(../images/background.jpg);
background-repeat:no-repeat;
width:900px;
height:640px;
margin:0 auto;
position:relative;
z-index:1;
}
#llk_progressbar{
height:40px;
width:250px;
display:none;
position:absolute;
right:60px;
bottom:5px;
}
#progress_content{
position:relative;
}
#progress_content img{
position:absolute;
top:0;
}

#progress_full{
clip:rect(0,0,0,0);
}
#progress_head{
left:245px;
}
#llk_map{
width:600px;
height:480px;
position:relative;
top:100px;
left:60px;
}
#llk_map canvas{
position:relative;
}
#llk_map img{
width:60px;
height:60px;
float:left;
cursor:pointer;
}
#llk_tools{
display:none;
width:180px;
position:absolute;
top:100px;
right:20px;
height:480px;
background-image:url(../images/toolsBackground.png);
background-repeat:no-repeat;
}
#llk_tools div.tools-item{
color:#eee;
font-size:20px;
font-weight:bold;
margin:20px;
}
#llk_tools span{
line-height:20px;
}
#llk_tools img{
width:40px;
height:40px;
cursor:pointer;
vertical-align:middle;
}
#start_button{
position:absolute;
width:300px;
height:80px;
left:300px;
bottom:40px;
cursor:pointer;
}
#won{
position:absolute;
display:none;
top:100px;
left:200px;
height:400px;
width:500px;
}
.clear{
clear:both;
}
